<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Secret Scientist</title>
    <link rel="icon" href="dist/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="dist/stylesheets/style.min.css">
</head>
<body>

{{{body}}}

<script src="dist/javascripts/app.min.js"></script>
</body>
</html>
