<div id="main">
    <h1>SECRET SCIENTIST</h1>
    <div class="login-page">
        <div class="form">
            <div class="overlay">
                <div class="loader"></div>
            </div>
            <form class="encrypt-form">
                <input class = "raw-text" type="text" placeholder="text"/>
                <input type="number" placeholder="key"/>
                <button>Encrypt</button>
            </form>

            <div class="result-container">
                <textarea class="result-textarea"></textarea>
            </div>
        </div>
    </div>
</div>


